* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #fff;
    padding: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: white;
    max-width: 14000px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: baseline;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #000;
    letter-spacing: -2px;

}
.logo img{
    height: 28px;
    margin: 0 1px;
    position: relative;
    top: 2px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
}
.nav-links li{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1a2024;
}
.nav-action{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    background-color: #f4f5f7;
    padding: 10px 20px;
    border-radius: 25px;
    width: 300px;
}
.search-bar i{
    color: #555;
    margin-right: 10px;
    font-size: 16px;
}
.search-bar input{
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    width: 100%;
    color: #333;
}
.icon-btn {
    font-size: 20px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.hero-image img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.5));
}

